/* @theme unipi */
:root {
  --accents: #043659;
  --base: #000000;
  --basecomplement: #ffffff;
  --basecomplementlight: #929597;
  --basecomplementextralight: #dedede;
}



/*****************/
/***** Fonts *****/
/*****************/
* {
  font-family: 'Arvo';
}

code {
  color: var(--base) !important;
}

code,
code * {
  font-family: 'Inconsolata' !important;
}

/****************/
/**** Header ****/
/****************/
h1 {
  /* 	position: absolute !important; */
  width: 100%;

  background-color: var(--basecomplement);
  background-image: url(https://cdn.jsdelivr.net/gh/msetzu/marpee/assets/imgs/logos/unipi/SVG/unipi_full.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: center;
  background-size: 8%;

  border-radius: 0px;
  border-bottom: 4px solid var(--accents) !important;
  
  padding: 0 10px !important;
  padding-right: 80px; /* padding for the logo */
}


/****************/
/**** Footer ****/
/****************/
/* Page numbers */
section::after {
  font-family: 'Arvo Light';
  font-weight: bold;
  text-shadow: none;
  
  content: 'Page ' attr(data-marpit-pagination) ' of ' attr(data-marpit-pagination-total);
}
