/******************************/
/* Defines sizes for elements */
/******************************/
/*
* w{X} defines width: {X}%
* h{X} defines height: {X}%
*
* Example
* .w65 {
*     width: 65%;
* }
*
* h10 {
*   height: 10%;
* }
*
*/

w10 {
    width: 10%;
}

h10 {
    height: 10%;
}

w20 {
    width: 20%;
}

h20 {
    height: 20%;
}

w25 {
    width: 25%;
}

h25 {
    height: 25%;
}

w33 {
    width: 33%;
}

h33 {
    height: 33%;
}

w35 {
    width: 35%;
}

h35 {
    height: 35%;
}

w40 {
    width: 40%;
}

h40 {
    height: 40%;
}

w50 {
    width: 50%;
}

h50 {
    height: 50%;
}

w60 {
    width: 60%;
}

h60 {
    height: 60%;
}

w65 {
    width: 65%;
}

h65 {
    height: 65%;
}

w67 {
    width: 67%;
}

h67 {
    height: 67%;
}

w70 {
    width: 70%;
}

h70 {
    height: 70%;
}

w75 {
    width: 75%;
}

h75 {
    height: 75%;
}

w80 {
    width: 80%;
}

h80 {
    height: 80%;
}

w90 {
    width: 90%;
}

h90 {
    height: 90%;
}
